{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
    <h1 class="text-center">แก้ไขรายการประเภท</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <div class="mb-3">
                <label for="type_name" name ="type_name" class="form-label">ชื่อประเภท</label>
                <input type="text" name ="type_name" class="form-control" value="{{ STK_TYPE.TYPE_NAME }}" >
            </div>
            <input class="btn btn-success" type="submit" value="อัพเดตข้อมูล">
        </div>
    </form>
{% endblock %}